.DS_Store
node_modules/
OLD/
npm-debug.log
tmp/
bower_components/
.idea/
e2e/*.js
e2e/*.map
cfgFiles/
Thumbs.db
*.rdb
build/
dist/
pnpm-lock.yaml

.vscode/**/*
**/.vim

ignoredFolder
.gitlab-ci-local/
